body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  width: 1470px;
  height: 100px;
  background-color: red;
}

/* carousel */

/* content */

.left {
  width: 300px;
  height: 1000px;
  background-color: blueviolet;
}

.center {
  width: 900px;
  height: 1000px;
  background-color: aqua;
}

.right {
  width: 270px;
  height: 1000px;
  background-color: brown;
}

.footer {
  width: 1470px;
  height: 100px;
  background-color: rebeccapurple;
}