body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  width: 1470px;
  height: 100px;
  background-color: red ;
}

/* carousel */

/* content */
.left {
  background-color:blue;
  height: 500px;
  float: left;
}

.center{
  background-color: aqua;

}

.right{
  background-color: indianred;
  float :right;
}